.App {
  text-align: center;
  width: 40%;
  margin: 0px auto;
}

.border-style{
  border: 1px solid #000;
  padding: 20px;
}

.list-style{
  height: 300px;
}

.input_css{
  margin: 20px 0px;
}

.text_Align{
  text-align: left;
}

ul li{
  list-style-type: none;
  text-align: left;
}